*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main{
    height: 100%;
    width: 100%;
}
.container{
    border: solid 1px black;
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: black;
}
.logo{
    border: none;
    height:100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.logo:hover{
    transform: scale(1.1);
}
.links{
    border: solid 1px black;
    border-radius: 50px;
    height: 70%;
    width: 60%;
    background:linear-gradient(white);
    margin-top:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.links ul,li,a {
display: inline-block;   
padding: 10px; 
text-decoration: none;
list-style-type: none;
color: black;
}

.btn{
    margin: auto;
   border-radius: 25px;
   padding: 2vh 2vw;
   background-color: cyan;
   cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: inset 1px 1px 5px;
    background-color: greenyellow;
}
.links a:hover{
     border: none;
    padding: 2vh 2vw;
    background-color: cyan;
    border-radius: 25px;
    transform: scale(1.1);
    
}
.text{
    border: solid 2px green;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.img{
margin: 20px 0px 40px 250px;
height: 500px;
width: 300px;
border-radius: 100px;
}
/* .img img:hover{
    animation: anime 4s infinite;
} */
/* @keyframes anime {
    0%,100%{
        margin-right: 100px;
           
    }
    25%{
        margin-left:200px;
    }
    75%{
        margin-right: 500px;
    }

} */

.img img{
    height: 500px;
    width: 300px;
    border-radius: 100px;
}
.t1{
    color: greenyellow;
}
.t1 h1{
    font-size: 10vh;
    margin-left:20px;
}
.t1 h4{
    font-size: larger;
    margin:10px 0px 0px 30px;
}
.t1 h6{
    font-size: medium;
    margin:10px 0px 0px 30px;
}
.follows{
    border: none;
    height: 10vh;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:80px ;
    margin-top: 20px;
}
.follows img{
    height: 40px;
    width: 40px;
    margin: 0px 10px;
    cursor: pointer;
}
#face:hover{
    border-radius: 20px;
    transform: scale(1.2);
    background-color: rgb(57, 57, 255);}
#ins:hover{
    border-radius: 20px;
    transform: scale(1.2);
    background:linear-gradient(#515BD4,#8134AF,#DD2A7B,#FEDA77,#f58529);}
#lin:hover{
    border-radius: 20px;
    transform: scale(1.2);
    background: linear-gradient(blue);
}
#twi:hover{
    border-radius: 20px;
    transform: scale(1.2);
    background: linear-gradient(#1DA1F2);
}
.btn1{
    margin: 20px 0px 0px 100px;
   border-radius: 25px;
   padding: 2vh 2vw;
   background-color: cyan;
   cursor: pointer;
}
.btn1:hover{
    transform: scale(1.1);
    box-shadow: inset 1px 1px 5px;
    background-color: greenyellow;
}
.about::selection{
    background-color: black;
    color: greenyellow;
}
.about{
    border:none;
    height: 300px;
    width: 100%;
   margin-top: 40px;
}
.about img{
    display: block;
    height: 200px;
    width: 400px;
}
.about h6{
    text-align: center;
    font-size: 24px;
    color: red;
}
.about #bui{
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
    margin-left: 40px;
    color: #8134AF;
}
.about #biu{
    margin-left: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #8134AF;
}
.about p{
    padding: 20px 20px 0px 40px;
    text-align: justify;
}
.about hr{
    margin-left: 40px;
    width: 250px;
}
.about h4{
  text-align: center;
  font-size: 35px;
  color: #1DA1F2;
  text-decoration-line: underline;
}
.drive{
    border: none;
    height: 200px;
    width: 100%;
    display: flex;

}
.box{
    border: solid 3px black;
    height: 130px;
    width: 250px;
    margin: 40px 0px 0px 190px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    overflow: hidden;
}
.box img{
    height: 60px;
    width: 60px;
    display: block;
    margin: 5px auto;
}
.box h3{
    text-align: center;
    font-size: large;
    color:royalblue;
}
.box p{
    padding: 5px;
    font-size:small;
    text-align: center;
    color: red;
}
.box:hover{
    border-color: #DD2A7B;
    transform: scale(1.1);
}
.tex{
    margin: 20px 0px 20px 0px;
    text-align: center;
}
.feature{
    border: none;
    text-align: center; 
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box1{
    border: solid 1px black;
    height: 400px;
    width: 350px;
    border-radius: 20px;
}
.box1 img{
    height: 250px;
    width: 350px;
    border-radius: 20px 20px 0px 0px;
}   
.title{
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}
.desc{
    text-align: justify;
    font-size: larger;
}

